/**
 * Global Styles (Only for Global Variables).
 *
 * Author: Elias Sjödin
 * Created: 2024-10-29
 */

:root {
  --text-color: #252525;

  --primary-color: #007bff;
  --secondary-color: #252525;
  --card-background-color: #f5f5f5;

  --border-color: #e0e0e0;
  --border-radius: 4px;
}
